<template>
  <div>{{ behaviour.name }} {{ behaviour.description }}</div>
</template>

<script>
import { Behaviour } from "../model/Behaviour";

export default {
  name: "BehaviourInfo",
  components: {},
  props: {
    behaviour: { type: Behaviour, required: true },
  },
};
</script>

<style>
</style>