<template>
  <md-card md-with-hover>
    <md-card-header>
      <div class="md-title">Face {{ face.id }} : {{ face.name }}</div>
    </md-card-header>

    <md-card-content v-if="face.description">
      {{ face.description }}
    </md-card-content>
    <md-card-actions>
      <md-button @click="goToFace()">Modify</md-button>
    </md-card-actions>
  </md-card>
</template>

<script>
import { Face } from "../model/Face";

export default {
  name: "FaceInfo",
  components: {},
  props: {
    face: { type: Face, required: true },
  },
  methods: {
    goToFace: function () {
      this.$router.push(`/face/${this.face.id}`);
    },
  },
};
</script>

<style>
</style>