<template>
  <div v-if="face">
    <md-card>
      <md-field>
        <label>Name</label>
        <md-input v-model="face.name"> </md-input>
      </md-field>
      <md-field>
        <label>Description</label>
        <md-input v-model="face.description"> </md-input>
      </md-field>

      <md-table>
        <md-table-row>
          <md-table-head md-numeric>ID</md-table-head>
          <md-table-head>Name</md-table-head>
          <md-table-head>Description</md-table-head>
        </md-table-row>

        <md-table-row v-for="behaviour in face.behaviours" :key="behaviour.id">
          <md-table-head md-numeric>{{ behaviour.id }}</md-table-head>
          <md-table-head>{{ behaviour.name }}</md-table-head>
          <md-table-head>{{ behaviour.description }}</md-table-head>
        </md-table-row>
      </md-table>

      <md-button class="md-icon-button md-raised" v-on:click="play()">
        <md-icon>add</md-icon>
      </md-button>
    </md-card>
  </div>
</template>

<script>
//import { Faces } from "../model/Face";
import FaceController from "../controller/FaceController.js";

export default {
  name: "FaceEdit",
  components: {},
  props: {},
  mounted() {
    // Go to home on launch
    console.log("test");
    FaceController.get("/faces/" + this.$route.params.id)
      .then((res) => {
        console.log(res);
        this.face = res;
      })
      .catch((err) => {
        console.error(err);
      });
    //this.face = Faces.find((x) => x.id == this.$route.params.id);
  },
  data: () => ({
    face: null,
  }),
  watch: {
    face: {
      handler(newFace, oldFace) {
        console.log("test");
        if (!oldFace) {
          return;
        }
      },
      deep: true,
    },
  },
};
</script>

<style>
</style>