<template>
  <div>
    <h2>Home</h2>

    <FaceInfo v-for="face in faces" :key="face.id" :face="face" />
  </div>
</template>

<script>
import FaceInfo from "./FaceInfo.vue";
import { Faces } from "../model/Face";

export default {
  name: "Home",
  components: {
    FaceInfo,
  },
  data: () => ({
    faces: Faces,
  }),
};
</script>

<style>
</style>
