
<template>
  <div>
    <h2>Spotify</h2>

    <h3>
      Behaviours
      <md-button class="md-icon-button md-raised" v-on:click="play()">
        <md-icon>add</md-icon>
      </md-button>
    </h3>

    <ul>
      <li v-for="behaviour in behaviours" :key="behaviour">
        <BehaviourInfo :behaviour="behaviour" />
      </li>
    </ul>
  </div>
</template>

<script>
import { SpotifyApi } from "../SpotifyApi.js";
import BehaviourInfo from "./BehaviourInfo.vue";
import { Behaviours } from "../model/Behaviour";

export default {
  name: "Spotify",
  components: { BehaviourInfo },
  data: () => {
    return {
      behaviours: Behaviours,
    };
  },
  methods: {
    play: function () {
      SpotifyApi.spotifyApi.clientCredentialsGrant().then(
        function (data) {
          console.log("The access token expires in " + data.body["expires_in"]);
          console.log("The access token is " + data.body["access_token"]);

          // Save the access token so that it's used in future calls
          SpotifyApi.spotifyApi.setAccessToken(data.body["access_token"]);
        },
        function (err) {
          console.log(
            "Something went wrong when retrieving an access token",
            err
          );
        }
      );
    },
  },
};
</script>


<style >
</style>